.flow_design01 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flow_design01 ul {
    padding: 0;
  }
  
  .flow_design01 li {
    list-style-type: none;
  }
  
  .flow_design01 dd {
    margin-left: 0;
  }
  
  .flow01 > li {
    position: relative;
    list-style: none;
  }
  
  .flow01 > li:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .flow01 > li dl {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid green;
    border-radius: 10px;
    position: relative;
  }
  
  .flow01 > li:not(:last-child) dl::before,
  .flow01 > li:not(:last-child) dl::after {
    content: "";
    border: solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .flow01 > li:not(:last-child) dl::before {
    border-width: 22px;
    border-top-color: green;
  }
  
  .flow01 > li:not(:last-child) dl::after {
    border-width: 20px;
    border-top-color: #fff;
  }
  
  .flow01 > li dl dt {
    font-size: 1.2em;
    font-weight: 600;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    margin-right: 2vw;
    text-align: center;
  }
  
  .flow01 > li dl dt .icon01 {
    font-size: 0.6em;
    color: #fff;
    background: green;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 20px;
    position: relative;
    z-index: 100;
  }
  
  @media(max-width: 650px) {
    .flow01 > li:not(:last-child) {
      margin-bottom: 30px;
    }
  
    .flow01 > li dl {
      display: block;
      padding: 10px 15px;
    }
  
    .flow01 > li dl dt {
      margin-right: 0;
    }
  
    .flow01 > li dl dt .icon01 {
      font-size: .7em;
    }
  }